html {
    font-size: 10px; /* px means "pixels": the base font size is now 10 pixels high  */
    font-family: "Lemonada", cursive; /* this should be the rest of the output you got from Google fonts */
    background-color: #050505;
}
  h1 {
    color: #050505;
    font-size: 40px;
    text-align: center;
    margin: 0 auto;
    padding: 20px 0;   
    text-shadow: 3px 3px 1px rgb(35, 171, 189);
  }
  h2 {
      color: #050505;
      font-size: 30px;
      margin: 0 20px;
  }
  p, li {
      color: #050505;
    font-size: 16px;    
    line-height: 2;
    letter-spacing: 1px;
  }
  body {
    width: 600px;
    margin: 0 auto;
    background-color: #fffefd;
    padding: 0px 20px 20px 20px;
    border: 2px solid black;
  }
  img {
      display: block;
      margin: 0 auto;
  }